{% for locale in locales %}
  <img src="{{ asset('bundles/locale/images/flags/' ~ locale ~ '.png') }}" />
  {% if locale == app.request.locale %}
    <span>{{ locale | language  }}</span>
  {% else %}
    <a href="{{ path('language', { '_locale': locale }) }}">{{ locale | language }}</a>
  {% endif %}
{% endfor %}
